*{
	background-color:#FFEBB2 ;
}
h1{
	text-align:center;
	color:#E59BE9;
}
img{
	border: 10px solid #8644A2;
	height:200px;
	width:250px;
	padding: 10px;
}
.geeth{
	margin-left: 200px;
}


